@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&family=Inter:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,500;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
.banner {
  overflow: hidden;
  background-image: url("./img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 2.8rem 1.8rem;

  &-btn {
    background-color: white;
    color: #146eb4;
    padding: 1rem 2rem;
  }
  h1 {
    color: white;
    font-size: 2.9rem;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
  }
  p {
    color: white;
    font-size: 1.4rem;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 600;
    width: 40%;
    padding: 0.5rem 0rem;
  }
}

@media only screen and (max-width: 632px) {
  .banner {
    align-items: center;
    padding: 2.5rem 0.4rem;
    h1 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      font-size: 1.3rem;
      text-align: center;
      width: 100%;
      padding: 0.9rem 0rem;
    }
    &-btn {
      padding: 1rem 1rem;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 633px) and (max-width: 821px) {
  .banner {
    padding: 2.5rem 2rem;
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.6rem;

      width: 70%;
      padding: 0.9rem 0rem;
    }
    &-btn {
      padding: 1.5rem 1.5rem;
    }
  }
}
