@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,500;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: sticky;
  margin-top: 5rem;
  padding: 2rem 3rem;
  &-content {
    flex: 1 1 30rem;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    animation: fadeup 1.3s ease-in-out 0.3s forwards;
    opacity: 0;
    // align-items: center;

    align-self: center;
    h1 {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 2.9rem;
    }
    h2 {
      font-size: 0.9rem;
      font-family: sans-serif;
      font-weight: 300;
      margin-top: 1.4rem;
    }
    p {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
      margin-top: 0.6rem;
      line-height: 1.6rem;
      width: 88%;
      color: #4d4d4d;
    }
  }
  &-btn {
    background-color: #146eb4;
    color: white;
    padding: 1.2rem 2.6rem;
    border: none;
    font-size: 1.4rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    align-self: flex-start;
    margin-top: 2rem;
    &:hover {
      transform: translateY(-2px);
      transition: 0.4s;
      cursor: pointer;
    }
  }

  &-img {
    width: 45%;
    height: 100%;
  }
  &-pic {
    width: 100%;
    height: 100%;
  }
}
.App {
  margin-top: 1rem;
  margin-left: 0.5rem;
  align-self: center;
  cursor: pointer;
}
@keyframes fadeup {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media (max-width: 969px) {
  .home .home-img {
    width: 90%;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 454px) {
  .home {
    margin-top: 3rem;
  }
  .home .home-content h1 {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .home .home-content h2 {
    margin-top: 0.2rem;
  }
  .home .home-content p {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    line-height: 1rem;
  }
  .home .home-btn {
    padding: 1rem 1.7rem;
    font-size: 1rem;
    margin-top: 1.6rem;
  }
  .home {
    padding: 0.6rem 1.4rem;
  }
}
@media only screen and (min-width: 455px) and (max-width: 769px) {
  .home .home-content h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  .home .home-content h2 {
    margin-top: 0.2rem;
  }
  .home .home-content p {
    font-size: 1rem;
    margin-top: 0.3rem;
    line-height: 1rem;
  }
  .home .home-btn {
    padding: 1rem 1.7rem;
    font-size: 1rem;
    margin-top: 1.6rem;
  }
  .home {
    padding: 0.6rem 2.8rem;
  }
}

@media only screen and (min-width: 770px) and (max-width: 968px) {
  .home .home-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .home .home-content h2 {
    margin-top: 0.2rem;
  }
  .home .home-content p {
    font-size: 1.1rem;
    margin-top: 0.3rem;
    line-height: 1rem;
  }
  .home .home-btn {
    padding: 1rem 1.7rem;
    font-size: 1rem;
    margin-top: 1.6rem;
  }
  .home {
    padding: 0.6rem 2.5rem;
  }
}
