@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&family=Inter:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,500;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
.q {
  margin: 7rem 0rem;
  padding: 0.5rem 5rem;
  background-color: rgba(255, 255, 255, 0.943);
  h4 {
    font-size: 4rem;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 800;
  }
  h5 {
    font-size: 1.5rem;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  &-content {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 2.2rem;
      font-family: "Darker Grotesque", sans-serif;
      font-weight: 800;
      padding: 2rem 0rem;
    }
    h2 {
      font-size: 1.5rem;
      font-family: "Darker Grotesque", sans-serif;
      font-weight: 700;
      text-transform: capitalize;
    }
    span {
      font-size: 1.4rem;
      font-family: "Darker Grotesque", sans-serif;
      font-weight: 600;
      padding: 0rem 1rem;
      text-transform: capitalize;
      color: gray;
    }
  }
}

@media (max-width: 644px) {
  .q {
    padding: 0rem 1rem;
    h4 {
      font-size: 2.5rem;
      text-align: center;
    }

    &-content {
      align-items: center;

      h2 {
        text-align: center;
        font-size: 1.2rem;
      }
      h1 {
        text-align: center;
        font-size: 1.7rem;
      }
    }
  }
}
