@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,500;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,500;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&family=Inter:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,500;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&family=Inter:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,500;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&family=Inter:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,500;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&family=Inter:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,500;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&family=Inter:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,500;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&family=Inter:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,500;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&family=Inter:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,500;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,500;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #fdfdfd;
  z-index: 10000;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1rem 5rem;
}

.header .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .nav-logo-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
}

.header .nav-logo h1 {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  padding: 0rem 0.5rem;
  text-transform: lowercase;
  margin-right: 3rem;
  font-weight: 700;
}

.header .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style: none;
}

.header .nav-item {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding: 0.9rem 1.4rem;
  font-weight: 400;
}

.header .nav-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .nav-login-btn {
  outline: none;
  background: none;
  border: none;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 0.1rem 1.3rem;
}

.header .nav-login-btn:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.header .nav-start-btn {
  background-color: #146eb4;
  color: white;
  padding: 0.9rem 2.4rem;
  border: none;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.header .nav-start-btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.hamburger {
  display: none;
}

@media (max-width: 1124px) {
  .header .nav {
    padding: 1rem 2rem;
  }
  .nav-item {
    display: none;
  }
  .nav-login-btn {
    display: none;
  }
  .nav-start-btn {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 489px) {
  .header .nav .nav-content h1 {
    font-size: 1.4rem;
  }
  .header .nav .nav-content .nav-logo-img {
    width: 2rem;
    height: 2rem;
  }
  .header .nav {
    padding: 1rem 1.2rem;
  }
}

@media only screen and (min-width: 490px) and (max-width: 757px) {
  .header .nav .nav-content h1 {
    font-size: 1.5rem;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  margin-top: 5rem;
  padding: 2rem 3rem;
}

.home-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
  -webkit-animation: fadeup 1.3s ease-in-out 0.3s forwards;
          animation: fadeup 1.3s ease-in-out 0.3s forwards;
  opacity: 0;
  -ms-flex-item-align: center;
      align-self: center;
}

.home-content h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.9rem;
}

.home-content h2 {
  font-size: 0.9rem;
  font-family: sans-serif;
  font-weight: 300;
  margin-top: 1.4rem;
}

.home-content p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0.6rem;
  line-height: 1.6rem;
  width: 88%;
  color: #4d4d4d;
}

.home-btn {
  background-color: #146eb4;
  color: white;
  padding: 1.2rem 2.6rem;
  border: none;
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2rem;
}

.home-btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.home-img {
  width: 45%;
  height: 100%;
  position: relative;
}

.home-img-text-container {
  position: absolute;
  top: 5%;
  left: 20%;
  -webkit-animation: run 10s linear infinite;
          animation: run 10s linear infinite;
}

.home-img-text-container div:nth-child(2) {
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.home-img-text-container div:nth-child(3) {
  margin-top: 12rem;
  margin-right: 4rem;
}

.home-img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 0.5rem 0.2rem;
  margin-top: 1rem;
}

.home-img-text span {
  margin-left: 1rem;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.home-pic {
  width: 100%;
  height: 100%;
}

.App {
  margin-top: 1rem;
  margin-left: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

@-webkit-keyframes fadeup {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media (max-width: 969px) {
  .home .home-img {
    width: 90%;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 454px) {
  .home {
    margin-top: 3rem;
  }
  .home .home-content h1 {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .home .home-content h2 {
    margin-top: 0.2rem;
  }
  .home .home-content p {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    line-height: 1rem;
  }
  .home .home-btn {
    padding: 1rem 1.7rem;
    font-size: 1rem;
    margin-top: 1.6rem;
  }
  .home {
    padding: 0.6rem 1.4rem;
  }
}

@media only screen and (min-width: 455px) and (max-width: 769px) {
  .home .home-content h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  .home .home-content h2 {
    margin-top: 0.2rem;
  }
  .home .home-content p {
    font-size: 1rem;
    margin-top: 0.3rem;
    line-height: 1rem;
  }
  .home .home-btn {
    padding: 1rem 1.7rem;
    font-size: 1rem;
    margin-top: 1.6rem;
  }
  .home {
    padding: 0.6rem 2.8rem;
  }
}

@media only screen and (min-width: 770px) and (max-width: 968px) {
  .home .home-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .home .home-content h2 {
    margin-top: 0.2rem;
  }
  .home .home-content p {
    font-size: 1.1rem;
    margin-top: 0.3rem;
    line-height: 1rem;
  }
  .home .home-btn {
    padding: 1rem 1.7rem;
    font-size: 1rem;
    margin-top: 1.6rem;
  }
  .home {
    padding: 0.6rem 2.5rem;
  }
}

@media only screen and (min-width: 972px) and (max-width: 1251px) {
  .home .home-img .home-img-text-container div:nth-child(2) {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .home .home-img .home-img-text-container div:nth-child(3) {
    margin-top: 6rem;
    margin-right: 4rem;
  }
}

@media only screen and (min-width: 433px) and (max-width: 600px) {
  .home .home-img .home-img-text-container div:nth-child(2) {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .home .home-img .home-img-text-container div:nth-child(3) {
    margin-top: 5rem;
    margin-right: 4rem;
  }
  .home .home-img .home-img-text-container .home-img-text {
    padding: 0.3rem 0.1rem;
  }
  .home .home-img .home-img-text-container .home-img-text span {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 432px) {
  .home .home-img .home-img-text-container div:nth-child(2) {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .home .home-img .home-img-text-container div:nth-child(3) {
    margin-top: 5rem;
    margin-right: 4rem;
  }
  .home .home-img .home-img-text-container .home-img-text {
    padding: 0.3rem 0.1rem;
  }
  .home .home-img .home-img-text-container .home-img-text span {
    font-size: 0.7rem;
    margin-left: 0.4rem;
  }
}

@-webkit-keyframes run {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes run {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.card {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: rgba(250, 183, 59, 0.1);
  padding: 1rem 1.6rem;
  position: static;
  margin-top: 4rem;
}

.card h1 {
  font-size: 2.5rem;
  color: black;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
  margin-top: 4rem;
  padding-left: 1rem;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(14rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  margin-top: 3rem;
  gap: 1.5rem;
  padding: 0.1rem 1rem;
}

.card-item {
  background-color: white;
  width: 100%;
  height: 90%;
}

.card-item-img {
  width: 100%;
  height: 85%;
}

.card-item-pic {
  width: 100%;
  height: 100%;
}

.card-item h2 {
  font-size: 1.2rem;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: bold;
  margin-top: 0.5rem;
  padding-left: 0.9rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-weight: 600;
  text-transform: uppercase;
}

.card-item p {
  font-size: 1rem;
  font-family: 'Darker Grotesque', sans-serif;
  padding-left: 0.8rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-weight: 500;
}

@media (max-width: 767px) {
  .card {
    padding: 0rem 0.4rem;
  }
  .card h1 {
    font-size: 2rem;
  }
  .card .card-container {
    -ms-grid-columns: (minmax(8rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  }
}

@media only screen and (max-width: 534px) {
  .card .card-container .card-item h2 {
    font-size: 0.87rem;
    margin-top: 0rem;
  }
  .card .card-container .card-item p {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 535px) and (max-width: 766px) {
  .card .card-container .card-item h2 {
    font-size: 0.9rem;
    margin-top: 0.1rem;
  }
  .card .card-container .card-item p {
    font-size: 0.8rem;
  }
}

.steps {
  overflow: hidden;
  position: static;
  margin-top: 5rem;
}

.steps h6 {
  font-size: 3rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
  padding: 1rem 3rem;
}

.steps-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 2rem;
}

.steps-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
}

.steps-item-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 19rem;
          flex: 1 1 19rem;
  margin-left: 4rem;
}

.steps-item-content h1 {
  font-size: 1.5rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
}

.steps-item-content h2 {
  color: black;
  font-size: 1.9rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  padding: 1.3rem 0rem;
}

.steps-item-content p {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  line-height: 2.4rem;
  color: #4d4d4d;
}

.steps-item-img {
  padding: 1rem 2rem;
}

.steps-item-pic {
  width: 484px;
  height: 336px;
}

.item2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content2 {
  margin-right: 3rem;
}

.step1 {
  color: #146eb4;
}

.step2 {
  color: #ee741f;
}

.step3 {
  color: #df1e5b;
}

@media only screen and (max-width: 639px) {
  .steps h6 {
    font-size: 1.9rem;
    padding: 0rem 0.5rem;
    text-align: center;
  }
  .steps-container {
    padding: 2rem 0.7rem;
  }
  .steps-item-content {
    margin-left: 0.2rem;
  }
  .steps-item-content h1 {
    font-size: 1.2rem;
    text-align: center;
  }
  .steps-item-content h2 {
    font-size: 1.6rem;
    padding: 0.7rem 0rem;
    text-align: center;
  }
  .steps-item-content p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
  }
  .steps-item-img {
    padding: 0.1rem 0.1rem;
    margin: 0 auto;
  }
  .steps-item-pic {
    margin-top: 2rem;
    width: 284px;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content2 {
    margin-right: 0.2rem;
  }
  .svg-img {
    width: 20rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (min-width: 639px) and (max-width: 900px) {
  .steps h6 {
    font-size: 2.5rem;
  }
  .steps-container {
    padding: 2rem 0.7rem;
  }
  .steps-item-content {
    margin-left: 0.9rem;
  }
  .steps-item-content h1 {
    font-size: 1.4rem;
  }
  .steps-item-content h2 {
    font-size: 1.7rem;
    padding: 0.7rem 0rem;
  }
  .steps-item-content p {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  .steps-item-img {
    padding: 0.1rem 0.1rem;
    margin: 0 auto;
  }
  .steps-item-pic {
    margin-top: 2rem;
    width: 384px;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content2 {
    margin-right: 0.7rem;
  }
  .svg-img {
    width: 23rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1026px) {
  .svg-img {
    width: 25rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.tools {
  margin-top: 5rem;
  overflow: hidden;
}

.tools h6 {
  font-size: 3rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  padding: 2rem 3rem;
}

.tools-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-top: 3rem;
  gap: 1rem;
  padding: 0.1rem 2rem;
}

.tools-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 1.4rem;
}

.tools-item-svg {
  width: 60px;
  height: 52px;
}

.tools-item h1 {
  font-size: 1.4rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  padding: 1rem 0rem;
}

.tools-item p {
  font-size: 1.2rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 600;
  width: 80%;
  color: #4d4d4d;
}

@media (max-width: 720px) {
  .svg-d {
    margin: 0 auto;
  }
  .tools .tools-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tools .tools-item p {
    width: 100%;
    text-align: center;
  }
  .tools h6 {
    font-size: 2.4rem;
    text-align: center;
    padding: 1rem 1rem;
  }
}

.blog {
  overflow: hidden;
  margin-top: 8rem;
}

.blog h6 {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  padding: 0.4rem 3rem;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 2rem;
}

.blog-items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 1.5rem;
}

.blog-items-pic {
  width: 100%;
  height: 100%;
}

.blog-items-img {
  width: 20rem;
  height: 10rem;
}

.blog-items h1 {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.4rem 0rem;
  text-transform: uppercase;
}

.blog-items p {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
  width: 80%;
}

@media (max-width: 837px) {
  .blog h6 {
    text-align: center;
    font-size: 2rem;
    padding: 0rem .2rem;
  }
  .blog-container {
    padding: 1rem 0.1rem;
  }
  .blog-items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-items p {
    text-align: center;
    width: 100%;
  }
  .blog-items h1 {
    text-align: center;
  }
}

.banner {
  overflow: hidden;
  background-image: url("./img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.8rem 2.8rem;
}

.banner-btn {
  background-color: white;
  color: #146eb4;
  padding: 1rem 2rem;
}

.banner h1 {
  color: white;
  font-size: 2.9rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
}

.banner p {
  color: white;
  font-size: 1.4rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 600;
  width: 40%;
  padding: 0.5rem 0rem;
}

@media only screen and (max-width: 632px) {
  .banner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5rem 0.4rem;
  }
  .banner h1 {
    font-size: 2rem;
    text-align: center;
  }
  .banner p {
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    padding: 0.9rem 0rem;
  }
  .banner-btn {
    padding: 1rem 1rem;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 633px) and (max-width: 821px) {
  .banner {
    padding: 2.5rem 2rem;
  }
  .banner h1 {
    font-size: 2.5rem;
  }
  .banner p {
    font-size: 1.6rem;
    width: 70%;
    padding: 0.9rem 0rem;
  }
  .banner-btn {
    padding: 1.5rem 1.5rem;
  }
}

.footers {
  padding-top: 3rem;
}

.box-container {
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.box-f {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 6rem;
          flex: 1 1 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 0rem 5rem;
}

.item-f {
  color: #666;
  font-size: 1.3rem;
  padding-bottom: 1rem;
  display: block;
  padding-top: 1rem;
  border-bottom: none;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: sans-serif;
  cursor: pointer;
}

.item-f:hover {
  color: #146eb4;
}

.credit {
  text-align: center;
  width: 100%;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 1rem;
  padding-top: 2rem;
  color: #999;
}

@media (max-width: 901px) {
  .box-f {
    padding: 0rem 0.5rem;
  }
  .item-f {
    font-size: 1rem;
  }
}

.q {
  margin: 7rem 0rem;
  padding: 0.5rem 5rem;
  background-color: rgba(255, 255, 255, 0.943);
}

.q h4 {
  font-size: 4rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
}

.q h5 {
  font-size: 1.5rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.q-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.q-content h1 {
  font-size: 2.2rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
  padding: 2rem 0rem;
}

.q-content h2 {
  font-size: 1.5rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.q-content span {
  font-size: 1.4rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 600;
  padding: 0rem 1rem;
  text-transform: capitalize;
  color: gray;
}

@media (max-width: 644px) {
  .q {
    padding: 0rem 1rem;
  }
  .q h4 {
    font-size: 2.5rem;
    text-align: center;
  }
  .q-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .q-content h2 {
    text-align: center;
    font-size: 1.2rem;
  }
  .q-content h1 {
    text-align: center;
    font-size: 1.7rem;
  }
}

.slider {
  margin-top: 10rem;
  background-color: #f8f8f8e0;
  width: 90vw;
  margin: 0 auto;
}

.slider p {
  font-size: 1.5rem;
  font-family: "Darker Grotesque", sans-serif;
  padding: 0.5rem 4rem;
  font-weight: 500;
}

.slider h2 {
  font-size: 2.5rem;
  font-family: "Darker Grotesque", sans-serif;
  padding-top: 4rem;
  padding-left: 4rem;
  font-weight: 800;
}

.slider-item {
  padding: 2rem 0.5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-item-box {
  background-color: white;
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0rem 0.2rem 0.3rem #d6d4d4;
          box-shadow: 0rem 0.2rem 0.3rem #d6d4d4;
}

.slider-item-img {
  width: 100%;
  height: 100%;
}

.slider-item-pic {
  width: 100%;
  height: 100%;
}

.slider-item h1 {
  font-size: 1.4rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 0.4rem;
}

@media (max-width: 793px) {
  .slider p {
    padding: 0.5rem 2rem;
  }
  .slider h2 {
    padding-left: 2rem;
    font-size: 2rem;
  }
}

@media (max-width: 673px) {
  .slider p {
    padding: 0.5rem .5rem;
    font-size: 1rem;
  }
  .slider h2 {
    padding-left: .5rem;
    font-size: 1.5rem;
  }
}

.nav-open {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 99999999999999;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: none;
}

.nav-open-logo {
  padding: 1.5rem 1.5rem;
}

.nav-open-close-btn {
  position: absolute;
  top: 3%;
  right: 5%;
  border: none;
  outline: none;
  color: black;
  background: none;
}

.nav-open-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem;
  gap: 3rem;
}

.nav-open-item {
  list-style: none;
  padding: 1.5rem 0rem;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  color: #060606;
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.light-mode {
  --black-color: black;
  --white-color: white;
  --gray-color: rgb(206, 206, 206);
  --btn-color: rgba(82, 30, 179, 0.881);
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  -ms-grid-columns: (minmax(min-content, 25rem))[6];
      grid-template-columns: repeat(6, minmax(-webkit-min-content, 25rem));
      grid-template-columns: repeat(6, minmax(min-content, 25rem));
  z-index: 1;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */